*,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.main-container h1 {
  width: 80%;
  padding: 50px 0 50px 0;
  font-size: 40px;
  font-weight: 700;
}

.score-container {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.recent-score-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

button,
input[type="submit"] {
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  height: 31px;
}

.recent-score {
  width: 50%;
  border: 1px solid black;
  max-height: 400px;
  overflow: auto;
}

.recent-score li {
  padding: 10px;
  list-style: none;
  font-weight: 600;
  font-size: 14px;
}

.list-gray {
  background-color: grey;
}

.list-white {
  background-color: whitesmoke;
}

.add-new-score {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 30px;
}

.add-new-score h2 {
  width: calc(100% - 30px);
}

.add-new-score input {
  outline: none;
  padding: 5px 20px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  width: calc(100% - 40px);
}

.add-new-score input::placeholder {
  color: black;
}

.add-new-score input:last-child {
  width: 100px;
  margin-left: auto;
}
